#root {

	#header {
		width: 38%;
		position: fixed;
		height: 100%;
		background: #ddd center;
		background-repeat: repeat,no-repeat;
		background-size: auto, auto 601px;
		transition: background-image 1.5s ease-out;
    will-change: transform;
	}

	#main {
		width: 62%;
		margin-left: 38%;
		padding: 4em;
	}

	//@for $i from 开始值 through 结束值 包含结束值  （SCSS 循环是从1开始的~）
	$header-bg: bg1, bg2, bg3, bg4, bg5, bg6, bg7, bg8, bg9, bg10;
	@for $i from 1 through length($header-bg) {
		#header.bg#{$i} {
			background-image: url(../images/app/bg#{$i}.jpg);
		}
	}
}



@media screen and (max-width: 1024px) {
	#root {
		#header {
			position: relative;
			width: 100%;
			top: auto;
			left: auto;
			// padding: 7.5em 5em;
		}
		#main {
			width: 100%;
			margin-left: 0;
			padding: 4em;
		}
	}
}