HTML, BODY, div, span, section,  p, li, ul, ol, dl, dd, dt, h1, h2, h3, h4, h5, h6, button, input, textarea, a, img {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
  
ul, li, ol {
  list-style: none;
}

input {
  outline: none;
  bottom: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}


/* ::-webkit-scrollbar {
  display: none;
} */
html::-webkit-scrollbar {
  width: 10px; 
}

html::-webkit-scrollbar-track {
background-color: rgba(0,0,0,0);
}

html::-webkit-scrollbar-thumb {
background: #ccc;
border-radius: 5px;
}
